<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Application de Gestion - Cabinet Médical</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<!-- Sidebar Navigation -->
<div class="sidebar">
	<h2><a href="/menu" style="color: white;">Menu</a></h2>
    <a href="/patients">Patients</a>
	<a href="/rendezvous">Rendez-vous</a>
    <a href="/consultations">Consultations</a>
	<a href="/medecins">Médecins</a>
    <a href="/specialites">Spécialités</a>
</div>


<!-- Main Content Area -->
<div class="main-content">
    <h1>Bienvenue dans l'application de gestion du Cabinet Médical</h1>
    <p>
        Utilisez la barre de navigation sur la gauche pour accéder aux différentes sections du cabinet médical :
        <ul>
            <li><a href="/patients">Liste des Patients</a></li>
            <li><a href="/consultations">Liste des Consultations</a></li>
            <li><a href="/rendezvous">Liste des Rendez-vous</a></li>
            <li><a href="/specialites">Liste des Spécialités</a></li>
            <li><a href="/medecins">Liste des Médecins</a></li>
        </ul>
    </p>
</div>

</body>
</html>
