<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ajouter un Patient</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
	<div class="sidebar">
		<h2><a href="/menu" style="color: white;">Menu</a></h2>
	    <a href="/patients" class="active">Patients</a>
		<a href="/rendezvous">Rendez-vous</a>
	    <a href="/consultations">Consultations</a>
		<a href="/medecins">Médecins</a>
	    <a href="/specialites">Spécialités</a>
	</div>

	<div class="main-content">
    <h1 th:text="${#strings.isEmpty(patient.idpatient) ? 'Ajouter un Patient' : 'Modifier un Patient'}"></h1>
    
    <form th:action="@{${#strings.isEmpty(patient.idpatient) ? '/patients/add' : '/patients/edit/' + patient.idpatient}}" th:object="${patient}" method="post">
        <label for="nompatient">Nom:</label>
        <input type="text" id="nompatient" th:field="*{nompatient}" required>

        <label for="prenompatient">Prénom:</label>
        <input type="text" id="prenompatient" th:field="*{prenompatient}" required>

        <label for="emailpatient">Email:</label>
        <input type="email" id="emailpatient" th:field="*{emailpatient}" required>

        <label for="adrpatient">Adresse:</label>
        <input type="text" id="adrpatient" th:field="*{adrpatient}" required>

        <button type="submit">Enregistrer</button>
    </form>
	</div>
</body>
</html>
